/* CSS Document */
TEXTAREA {background-color : #DADADA;border : 1;border-style : solid;font : Arial, Helvetica, sans-serif;}
INPUT {background : #DADADA;border : 1;border-style : solid;font : Arial, Helvetica, sans-serif;enable:false;}
Select {background : #DADADA;border : 1;border-style : solid;font : Arial, Helvetica, sans-serif;}
.tHeading {font-family: Verdana, Helvetica, sans-serif; font-size: 16px; color: #60290B; font-weight: bold;}
.tabletext {background-color : #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #380E0E; text-align:justify;}
.entext {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #380E0E;}
.pagingfont {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF;}
.heading {font-family: tahoma, verdana, arial, sans-serif; font-size: 14px; color: #9C6012;}

.prohead {
	BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; BORDER-BOTTOM: #000066 1px solid; BORDER-LEFT: #000066 1px solid; background-color:#ffffff; font-family:Tahoma,Verdana, Helvetica, sans-serif; font-weight:bold; font-size:7pt; color:#A26D24;
}

.promenugeffect {
	FILTER:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFBE69', EndColorStr='#FDEBEB'); font-family:Verdana, Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#A26D24;
	}
.promenuhead {
	font-family:Verdana, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#3366CC;
	}
.tabletxt {
	BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #000066 1px solid; COLOR: #000066; BORDER-BOTTOM: #000066 1px solid; FONT-FAMILY: tahoma, verdana, arial, sans-serif; BACKGROUND-COLOR: #EEE4D6; TEXT-DECORATION: none
}
.msg {
	font-family: tahoma, verdana, arial, sans-serif; font-size: 9pt; color: red;
	}

body {background-color : #ffffff ;scrollbar-face-color: #CCCCCC; scrollbar-shadow-color: #666666; scrollbar-highlight-color: #FFFFFF; scrollbar-track-color: #E7E7E7; scrollbar-arrow-color: #FFFFFF; scrollbar-3dlight-color: #000000; scrollbar-darkshadow-color: #000000;}
.tableDefault {border-width: 1px; border-style: solid; border-color: #000000; background-color : #001839; }
.tableDefaultBody {background-color : #001839; }
.tableInnerTableBorder {border-width: 1px; border-style: solid; border-color: #000000; }
.tableNavigation {border-width: 1px; border-style: solid; border-color: #000000; background-color : #003366; }
.tableInnertTables {background-color : #003366;}
.textbody {background-color : #DAE2E7; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;}
.texttitle {background-color : #DAE2E7; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #6F2C07; font-weight: bold;}
.border{ border-right: #0066cc 2px solid;border-top: #0066cc 2px solid;border-left: #0066cc 2px solid;border-bottom: #0066cc 2px 
solid; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;}

.but{color: red ;background-color:#D3BA97;text-transform:capitalize;font-weight:bold;padding-left:5;padding-right:5;}